.top_wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.top_img {
  padding-top: 8%;
  padding-left: 10%;
  padding-bottom: 5%;
  width: 60%;
}

.top_img img {
  width: 100%;
  object-fit: cover;
}

.top_title {
  width: 50%;
  margin-right: 2%;
  float: right;
  background: rgba(255, 255, 255, 0.3);
  padding: 1% 0;
}

.top_title h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.top_title h1 span {
  display: block;
}

.cat_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25% 0 0 0;
}

.cat_item1::before {
  content: "";
  background-color: rgb(204, 204, 204);
  padding: 20%;
  position: absolute;
  top: -18%;
  right: 7%;
}

.cat_item1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 25%;
  position: relative;
}

.cat_item1::after {
  content: "";
  background-color: rgb(204, 204, 204);
  padding: 5% 10%;
  position: absolute;
  top: 54%;
  left: 23%;
  z-index: -1;
}

.cat_item2::before {
  content: "";
  background-color: rgb(204, 204, 204);
  padding: 5% 10%;
  position: absolute;
  top: -18%;
  right: 7%;
}

.cat_item2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 20%;
}

.cat_item2::after {
  content: "";
  background-color: rgb(204, 204, 204);
  padding: 35% 15%;
  position: absolute;
  top: -20%;
  left: 15%;
  z-index: -1;
}

.cat1, .cat2, .cat3, .cat4, .cat5, .cat6 {
  width: 30%;
  text-align: center;
  background: url(../img/黒背景.jpg)no-repeat center;
  position: relative;
}

.cat_all img {
  padding-top: 10%;
  width: 80%;
  height: 323px;
  object-fit: cover;
}

.cat_all h3 {
  font-size: 2rem;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.cat_all p {
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  text-align: left;
  position: relative;
  z-index: 1;
  padding-bottom: 10%;
}

.cat1 {
  bottom: 7.5rem;
}

.cat3 {
  top: 7.5rem;
}

.cat4 {
  bottom: 7.5rem;
}

.cat6 {
  top: 7.5rem;
}

.close {
  background: url(../img/黒背景.jpg)no-repeat center;
  background-size: cover;
}

.close_wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 10% 0;
}

.close_wrapper h2 {
  font-size: 3rem;
  padding-bottom: 5%;
}

.close_wrapper p {
  font-size: 2rem;
  display: inline-block;
  text-align: left;
}

.close_wrapper h3 {
  font-size: 2.5rem;
  padding-top: 5%;
  padding-bottom: 3%;
}





