@charset "UTF-8";

body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
  font-family: 'Kaisei Opti', serif;
  font-family: 'Noto Serif JP', serif;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header_nav {
  width: 50%;
}

.header_nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 3% 0;
}

.header_nav ul li {
  width: 100%;
  text-align: center;
  border-right: solid white;
}

.header_nav ul li:last-child {
  border-right: none;
}

.header_nav ul li a{
  color: white;
  font-size: 1rem;
  display:block;
  line-height: 2.5;
}

.header_logo {
  width: 20%;
}

.header_logo a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header_logo a img {
  width: 60%;
  padding-right: 10%;
}

footer {
  position: relative;
  background-color: black;
}

.footer_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 5% 0 0 5%;
}

.footer_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

.footer_logo {
  font-size: 2.5rem;
  color: white;
  font-family: 'Kaisei Opti';
}

.footer_logo span {
  display: block;
}

.footer_right {
  width: 40%;
}

.footer_nav {
  display: flex;
  justify-content: space-evenly;
}

.list_all {
  width: 40%;
  float: right;
}

.list_all li {
  border-left: white solid 5px;
  margin-bottom: 30px;
}

.list_all li a {
  color: white;
  font-size: 1.5rem;
  padding-left: 20px;
}

.footer_list2 {
  padding-left: 5px;
}

.copyright {
  color: white;
  text-align: center;
}
























