.top {
  height: 100vh;
  background-color: black;
  position: relative;
}

.top_bg_img {
  background: url(../img/TOP.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
}

.top_logo {
  color: white;
  width: 60%;
  font-size: 3.5rem;
  position: absolute;
  top: 45%;
  right: 0%;
  transform: translate(0, -50%);
  font-family: 'Kaisei Opti';
  background: rgba(0, 0, 0, 0.4);
  padding: 2%;
  border-radius: 10px;
}

.top_logo span {
  display: block;
}

.about_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_inner h2 {
  background-color: black;
  display: block;
  color: white;
  font-size: 3rem;
  line-height: 22;
  width: 30%;
  text-align: center;
  box-shadow: 15px 0 10px rgb(150, 150, 150);
}

.about_wrapper {
  width: 100%;
  text-align: center;
}

.about_item {
  width: 900px;
  margin: 0 auto;
}

.about_item img {
  width: 640px;
  height: 480px;
  margin-bottom: 5%;
  box-shadow: 10px 10px 10px rgb(150, 150, 150);
}

.about_txt {
  text-align: left;
  margin-bottom: 10%;
}

.about_txt p {
  font-size: 1.5rem;
  width: 100%;
}

.about_txt p span {
  display: block;
}

.about_item p::after {
  content: "";
  background-color: rgb(226, 226, 226);
  padding: 4% 20%;
  position: absolute;
  top: 3em;
  left: 20em;
  z-index: -1;
}

.about_btn {
  font-size: 1.5rem;
  width: 360px;
  margin: 0 auto;
}

.about_btn a {
  display: block;
  color: white;
  background-color: black;
  line-height: 4;
  border-radius: 90px;
}

.company {
  background: url(../img/黒背景.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}

.company_wrapper {
  display: flex;
  justify-content: center;
}

.company_left {
  max-width: 720px;
  width: 50%;
}

.left_item {
  width: 80%;
  margin: 0 auto;
}

.company_left img {
  width: 431px;
  padding-top: 20%;
  padding-left: 10%;
  margin-bottom: 15%;
}

.company_left p {
  font-size: 2rem;
  color: white;
  padding-left: 10%;
  text-align: left;
  position: relative;
  margin-bottom: 10%;
}

.company_left p span {
  display: block;
}

.company_right {
  max-width: 720px;
  width: 50%;
}

.company_right h2 {
  background-color: rgb(184, 184, 184);
  display: block;
  color: white;
  font-size: 3rem;
  padding: 3% 0%;
  width: 100%;
  text-align: center;
  margin-bottom: 17%;
}

.company_right iframe {
  margin-bottom: 15%;
  width: 90%;
}

.company_btn {
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
  width: 360px;
  text-align: center;
  margin-bottom: 15%;
}

.company_btn a {
  display: block;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  line-height: 4;
  border-radius: 90px;
}

.cat_info_wrapper {
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: relative;
}

.cat_items {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.cat_info_items1 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.cat_all {
  position: relative;
  height: 60%;
  width: 35%;
}

.cat_info_items1 li img {
  width: 80%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: -10px -10px 10px rgb(119, 119, 119);
}

.cat_info_items1 li p {
  font-size: 24px;
  padding-bottom: 8%;
}

.cat1 {
  bottom: 3.5rem;
}

.cat3 {
  bottom: 3.5rem;
}

.cat_info_wrapper h2 {
  background-color: black;
  display: block;
  color: white;
  font-size: 3rem;
  line-height: 22;
  width: 20%;
  text-align: center;
  box-shadow: -15px 0 10px rgb(150, 150, 150);
}

.cat_info_btn {
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 3% 0 0 0;
}

.cat_info_btn a {
  display: block;
  color: white;
  background-color: black;
  line-height: 4;
  border-radius: 90px;
}

.news {
  background: url(../img/黒背景.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 5%;
}

.news h2 {
  width: 50%;
  background-color: rgb(184, 184, 184);
  display: block;
  color: white;
  font-size: 3rem;
  padding: 3% 0%;
  text-align: center;
  margin-bottom: 8%;
}

.news_wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.news_wrapper p {
  font-size: 24px;
}

.news_red {
  font-size: 2rem;
  width: 30%;
  color: red;
  display: inline-block;
  padding-top: 3%;
  padding-left: 3%;
} 

.news_red h3 {
  width: 100%;
}

.news_red h3::after {
  content: "";
  background: #000000;
  width: 20%;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}

.red_border {
  border-bottom: solid #000000 3px; 
}

.news_all {
  line-height: 4;
  padding-left: 3%;
  padding-right: 3%;
}

.news_all span {
  padding-left: 3%;
}

.news_last {
  padding-bottom: 2%;
}

.news_btn {
  padding-top: 5%;
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
  width: 360px;
  text-align: center;
}

.news_btn a {
  display: block;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  line-height: 4;
  border-radius: 90px;
}

.info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.info_wrapper h2 {
  background-color: black;
  display: block;
  color: white;
  font-size: 3rem;
  line-height: 23;
  width: 20%;
  text-align: center;
  box-shadow: 15px 0 10px rgb(150, 150, 150);
}

.info_item {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.info_all {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.info_list {
  position: relative;
  height: 290px;
  width: 35%;
  margin: 3% 0;
  background-color: black;
}

.info_list img {
  width: 100%;
  height: 290px;
  margin-bottom: 20px;
  box-shadow: 10px -10px 10px rgb(119, 119, 119);
  opacity: 0.6;
}

.info_list p {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.info2,.info4 {
  bottom: 3.5rem;
}

.info2::after {
  content: "";
  background-color: rgb(226, 226, 226);
  padding: 80% 30%;
  position: absolute;
  top: -6em;
  left: 15em;
  z-index: -1;
}

.info3::after {
  content: "";
  background-color: rgb(226, 226, 226);
  padding: 15% 40%;
  position: absolute;
  top: 23em;
  left: 7em;
  z-index: -1;
}

.bg::before {
  content: "";
  position: absolute;
  height: 100vh;
  z-index: -2;
  background: url(../img/クローズ用.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  filter: blur(5px);
  opacity: 0.8;
}

.bg {
  background-color: black;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.close_wrapper {
  height: 100vh;
}

.close_txt {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: relative;
  z-index: -1;
}

.footer_wrapper {
  display: flex;
}















