.top {
  height: 100vh;
  background-color: black;
  position: relative;
}

.top_bg_img {
  background: url(../img/TOP.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
}

.top_logo {
  color: white;
  width: 60%;
  font-size: 3.5rem;
  position: absolute;
  top: 45%;
  right: 0%;
  transform: translate(0, -50%);
  font-family: 'Kaisei Opti';
  background: rgba(0, 0, 0, 0.4);
  padding: 2%;
  border-radius: 10px;
}

.top_logo span {
  display: block;
}

.about_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_inner h2 {
  background-color: black;
  display: block;
  color: white;
  font-size: 3rem;
  padding: 35% 0;
  width: 20%;
  text-align: center;
  box-shadow: 15px 0 10px rgb(150, 150, 150);
}

.about_wrapper {
  width: 100%;
  text-align: center;
}

.about_item {
  width: 900px;
  margin: 0 auto;
}

.about_item img {
  width: 640px;
  height: 480px;
  margin-bottom: 5%;
  box-shadow: 10px 10px 10px rgb(150, 150, 150);
}

.about_txt {
  text-align: left;
  margin-bottom: 10%;
}

.about_txt p {
  font-size: 1.5rem;
  width: 100%;
}

.about_txt p span {
  display: block;
}

.about_item p::after {
  content: "";
  background-color: rgb(226, 226, 226);
  padding: 4% 20%;
  position: absolute;
  top: 3em;
  left: 20em;
  z-index: -1;
}

.about_btn {
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
}

.about_btn a {
  display: block;
  color: white;
  background-color: black;
  line-height: 4;
  border-radius: 90px;
}

.company {
  background: url(../img/黒背景.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}

.company_wrapper {
  display: flex;
  justify-content: center;
}

.company_left {
  max-width: 720px;
  width: 50%;
}

.left_item {
  width: 80%;
  margin: 0 auto;
}

.company_left img {
  width: 431px;
  padding-top: 15%;
  padding-left: 15%;
  margin-bottom: 15%;
}

.company_left p {
  font-size: 2rem;
  color: white;
  padding-left: 13%;
  text-align: left;
  position: relative;
  margin-bottom: 10%;
}

.company_left p span {
  display: block;
}

.company_right {
  max-width: 720px;
  width: 50%;
}

.company_right h2 {
  background-color: rgb(184, 184, 184);
  display: block;
  color: white;
  font-size: 3rem;
  padding: 3% 0%;
  width: 100%;
  text-align: center;
  margin-bottom: 17%;
}

.company_right iframe {
  margin-bottom: 15%;
  width: 90%;
}

.company_btn {
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
  width: 360px;
  text-align: center;
  margin-bottom: 15%;
}

.company_btn a {
  display: block;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  line-height: 4;
  border-radius: 90px;
}

.cat_info_wrapper {
  display: flex;
  justify-content:space-between;
  position: relative;
}

.cat_items {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.cat_info_items1 {
  width: 100%;
  margin: 0 auto;
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.cat_all {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin: 3% 0;
}

.cat_info_items1 li img {
  width: 350px;
  margin-bottom: 20px;
  box-shadow: -10px -10px 10px rgb(119, 119, 119);
}

.cat_info_items1 li p {
  font-size: 24px;
}

.cat1 {
  bottom: 3.5rem;
}

.cat2 {

}

.cat3 {
  bottom: 3.5rem;
}

.cat4 {
}


.cat3 img,.cat4  img{
  height: 263px;
  width: 350px;
}

.cat_info_wrapper h2 {
  background-color: black;
  display: block;
  color: white;
  font-size: 3rem;
  padding: 35% 0;
  width: 20%;
  text-align: center;
  box-shadow: -15px 0 10px rgb(150, 150, 150);
}

.cat_info_btn {
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.cat_info_btn a {
  display: block;
  color: white;
  background-color: black;
  line-height: 4;
  border-radius: 90px;
}

.news {
  background: url(../img/黒背景.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 5%;
}

.news h2 {
  width: 50%;
  background-color: rgb(184, 184, 184);
  display: block;
  color: white;
  font-size: 3rem;
  padding: 3% 0%;
  text-align: center;
  margin-bottom: 8%;
}

.news_wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.news_red {
  font-size: 2rem;
  width: 30%;
  color: red;
  display: inline-block;
  padding-top: 3%;
  padding-left: 3%;
} 

.news_red h3 {
  width: 100%;
}

.news_red h3::after {
  content: "";
  background: #ff0000;
  width: 20%;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}

.news_wrapper table {
  width: 100%;
}

.news_wrapper table tr th {
  width: 30%;
  padding: 3%;
  font-size: 1.5rem;
}

.news_wrapper table tr td {
  font-size: 1.5rem;
}

.news_btn {
  padding-top: 5%;
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
  width: 360px;
  text-align: center;
}

.news_btn a {
  display: block;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  line-height: 4;
  border-radius: 90px;
}

.info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_wrapper h2 {
  background-color: black;
  display: block;
  color: white;
  font-size: 3rem;
  padding: 35% 0;
  width: 20%;
  text-align: center;
  box-shadow: 15px 0 10px rgb(150, 150, 150);
}

.info_items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.info_items1 {
  text-align: center;
}

.info1 {
  background-color: black;
  position: relative;
}

.info_items1 li img {
  width: 350px;
  margin-bottom: 20px;
  box-shadow: -10px -10px 10px rgb(119, 119, 119);
  opacity: 0.6;
}

.info_items1 li p {
  width: 100%;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info_items2 {
  text-align: center;
}

.info_items2 li img {
  width: 350px;
  margin-bottom: 20px;
  box-shadow: -10px -10px 10px rgb(119, 119, 119);
}




















